<form #f="ngForm" (ngSubmit)="onSearch()">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-3">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{'episode name' | translate}}"
            name="name"
            ngModel
          />
        </div>
        <div class="col-xs-3">
          <select class="form-control" id="episode" name="episode"  [ngModel]="'Not specified'">
                <option value="Not specified">{{'Not specified' | translate}}</option>
                <option value="s01">1. {{'season' | translate}}</option>
                <option value="s02">2. {{'season' | translate}}</option>
                <option value="s03">3. {{'season' | translate}}</option>
                <option value="s04">4. {{'season' | translate}}</option>
                <option value="s05">5. {{'season' | translate}}</option>
              </select>
          </div>
        <div class="col-xs-3">
          <div class="form-group">
            <button class="btn btn-info" type="submit">{{button | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <div class="row">
    <div class="col-xs-12">
      {{"Episode count:" | translate}} {{ info.count }} - {{ info.pages }}/{{ page }}
      <button  mat-button
        [routerLink]="['/locations']"
        (click)="onPrev()"
        [disabled]="info.prev == null"
      >
        {{"prev" | translate}}
      </button>
      <button  mat-button
        [routerLink]="['/locations']"
        (click)="onNext()"
        [disabled]="info.next == null"
      >
        {{"next" | translate}}
      </button>
    </div>
  </div>
  

      <div class="row" *ngIf="!filterError">
        <div class="col-xs-12">
          <app-episode-list-item
            *ngFor="let episode of episodes; let i = index"
            [episode]="episode"
            (click)="onSelectItem(episode)"
          ></app-episode-list-item>
        </div>
      </div>

      <div class="warning" *ngIf="filterError">
        <p>{{"No item found" | translate}}</p>
      </div>