<div
  class="container card"
  style="width: 70%; background-color: rgb(59, 59, 59)"
>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <div class="content">
          <h1>{{ episode.name }}</h1>
          <br />
          <table class="table">
            <tr>
              <td>
                <h3><b>{{'Episode code:' | translate}}</b></h3>
              </td>
              <td>
                <h3>{{ episode.episode }}</h3>
              </td>
            </tr>
            <tr>
                <td>
                  <h3><b>{{"Air date:" | translate}}</b></h3>
                </td>
                <td>
                  <h3>{{ episode.air_date }}</h3>
                </td>
              </tr>
          </table>
          <h3><b>{{"Characters in episode:" | translate}}</b></h3>
          <!-- <p *ngFor="let ep of location.residents">{{ep}}</p> -->
          <app-resident *ngFor="let l of episode.characters" [indexStr]="l"></app-resident>
          <br><br>
          <p>{{episode.created | shorten}}</p>
          <button class="btn btn-dark" style="background-color: #292929" (click)="onBack()" >{{"BACK" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
