<form #f="ngForm" (ngSubmit)="onSearch()">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-3">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="character name"
          name="name"
          ngModel
        />
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <select class="form-control" id="status" name="status" [ngModel]="'Not specified'">
            <option value="Not specified">Not specified</option>
            <option value="Alive">Alive</option>
            <option value="Dead">Dead</option>
            <option value="Unknown">Unknown</option>
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <button class="btn btn-info" type="submit">Search</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <input
          type="text"
          class="form-control"
          id="species"
          placeholder="character species"
          name="species"
          ngModel
        />
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="type"
            placeholder="character type"
            name="type"
            ngModel
          />
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
            <select class="form-control" id="gender" name="gender"  [ngModel]="'Not specified'">
                <option value="Not specified">Not specified</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Genderless">Genderless</option>
                <option value="Unknown">Unknown</option>
              </select>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-xs-12">
    Character count: {{ info.count }} - {{ info.pages }}/{{ page }}
    <button
      class="btn btn-default"
      [routerLink]="['/characters']"
      [queryParams]="{ page: page - 1 }"
      [disabled]="info.prev == null"
    >
      prev
    </button>
    <button
      class="btn btn-default"
      [routerLink]="['/characters']"
      [queryParams]="{ page: +page + 1 }"
      [disabled]="info.next == null"
    >
      next
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-character-list-item
      *ngFor="let character of characters; let i = index"
      [character]="character"
      (click)="onSelectItem(character)"
    ></app-character-list-item>
  </div>
</div>
